
body{font-family:Arial;background:#121212;color:#F8F4EE;text-align:center;margin:0}
.logo{max-width:250px;margin-top:20px}
section{padding:40px}
a{color:#C8A96A;text-decoration:none}
iframe{width:90%;height:300px;border:0}
